

.app {
  --bg-color-1: #f9f9f9;
  --bg-color-2: #e8e8e8;

  --bg-color-3: #f3a858;
  --bg-color-4: gray;
  --bg-color-5: rgb(233, 202, 143);
  --text-color-1: black;
  }

  .app[data-theme="dark"] {
    --bg-color-1: black;
    --bg-color-2: #333333;
    --bg-color-3: #f3a858;
    --text-color-1: white;

}

.custom-scroll::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track{
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb{
  background-color:rgba(0 ,0,0,0.14);
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
  background-color:grey;
}

.app{
  background-color: #2a6c84;
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-calculator{
  height: 520px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.app-calculator-navbar{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  min-height: 40px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;

}

.app-calculator-navbar img{
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.app-calculator-navbar-toggle{
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, 0.14);

}

.app-calculator-navbar-toggle-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 300ms;
}

.app-calculator-navbar-toggle-circle-active{
  margin-left: 15px;

}